<p style="color: green"><%= notice %></p>

<% content_for :title, "Rarities" %>

<h1>Rarities</h1>

<div id="rarities">
  <% @rarities.each do |rarity| %>
    <%= render rarity %>
    <p>
      <%= link_to "Show this rarity", rarity %>
    </p>
  <% end %>
</div>

<%= link_to "New rarity", new_rarity_path %>
