<% content_for :title, "Editing race" %>

<h1>Editing race</h1>

<%= render "form", race: @race %>

<br>

<div>
  <%= link_to "Show this race", @race %> |
  <%= link_to "Back to races", races_path %>
</div>
