<p style="color: green"><%= notice %></p>

<% content_for :title, "Races" %>

<h1>Races</h1>

<div id="races">
  <% @races.each do |race| %>
    <%= render race %>
    <p>
      <%= link_to "Show this race", race %>
    </p>
  <% end %>
</div>

<%= link_to "New race", new_race_path %>
