<p style="color: green"><%= notice %></p>

<% content_for :title, "Cards" %>

<h1>Cards</h1>

<table id="cards" class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">card type</th>
      <th scope="col">edition</th>
      <th scope="col">cost</th>
      <th scope="col">force</th>
      <th scope="col">race</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <%= render "card_row", card: card %>
    <% end %>
  </tbody>
</table>

