<div id="<%= dom_id deck %>">
  <p>
    <strong>Name:</strong>
    <%= deck.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= deck.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= deck.user_id %>
  </p>

</div>
