<%= render "search" %>
<br>
<div class="row" style="padding-left: 120px;" id="decks">
  <% @search_cards.each do |card| %>
    <%= render 'card_card', card: card, from_card_list: true %>
  <% end %>
</div>