<div class="row" style="padding-left: 120px;" id="decks">
  <% @deck.cards.order(:card_type_id).group_by { |card| card.card_type }.each do |card_type, cards| %>
    <div class="row">
      <% cards.each do |card| %>
        <%= render 'card_card', card: card, from_card_list: false %>
      <% end %>
    </div>
    <br>
  <% end%>
</div>