<p style="color: green"><%= notice %></p>

<% content_for :title, "Decks" %>

<h1>Decks</h1>

<div id="decks">
  <% @decks.each do |deck| %>
    <%= render deck %>
    <p>
      <%= link_to "Show this deck", deck %>
    </p>
  <% end %>
</div>

<%= link_to "New deck", new_deck_path %>
