<p style="color: green"><%= notice %></p>

<% content_for :title, "Decks" %>

<div class="container">
  <div class="row">
    <div class="d-grid gap-2 d-md-block mb-2">
      <%= link_to "New deck", new_deck_path, class: 'btn float-end btn-small btn-primary' %>
    </div>
  </div>
  <div class="row row-cols-4 gap-3" id="decks">
    <% @decks.each do |deck| %>
      <div class="col px-2">
        <%= render deck %>
      </div>
    <% end %>
  </div>
</div>

