<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/cards"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Deck builder</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cards">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cards">Cards</a>
          </li>
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Decks
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/decks/new">New</a></li>
              <%# <li>
                <hr class="dropdown-divider">
              </li> %>
              <li><a class="dropdown-item" href="/decks">Own</a></li>
            </ul>
          </li>
        </ul>
        <%= form_with url: "/cards", method: :get, class: "d-flex mt-3" do |form| %>
          <%= form.text_field :card_name, { type: "search", class: "form-control me-2", placeholder: "Search card", value: params[:card_name] } %>
          <button class="btn btn-success" type="submit">Search</button>
        <% end %>
      </div>
    </div>
  </div>
</nav>